:root {
  /* Colors */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue-main: hsl(217, 54%, 11%);
  --very-dark-blue-card: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  /* Font-family */
  --font-Outfit: "Outfit", sans-serif;
}

.attribution {
  margin-top: 2rem;
  font-size: 0.8rem;
  text-align: center;
  font-family: var(--font-Outfit);
}
.attribution a {
  color: var(--soft-blue);
}

/* Tablet layout */
@media screen and (min-width: 768px) {
}

/* Desktop layout */
@media screen and (min-width: 1200px) {
}
