/* Custom Properties */
:root {
  /* Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Image paths */
  --pattern-background-desktop: url("../images/pattern-background-desktop.svg");
  --pattern-background-mobile: url("../images/pattern-background-mobile.svg");
}

/* General styles to center the whole page and
 put footer at the bottom of the page! */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: var(--pale-blue);
  background-image: var(--pattern-background-desktop);
  background-repeat: no-repeat;
  background-size: 100vw;
}
footer {
  margin-top: auto;
}
main {
  align-self: center;
  max-width: 80ch;
}

/* Attribution on the footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
