/* Custom Properties */
:root {
  /* Colors */
  --white: #ffffff;
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --light-blue: hsl(228, 45%, 44%);
  --desaturated-blue-opacity: hsla(224, 23%, 55%, 0.4);
  --dark-blue: hsl(223, 47%, 23%);
  --gray: #8f96b0;

  /* Sizing */
  --border-radius-large: 1rem;
  --border-radius-small: 0.5rem;

  /* Image paths */
  --pattern-background-desktop: url("../images/pattern-background-desktop.svg");
  --pattern-background-mobile: url("../images/pattern-background-mobile.svg");

  /* Font-family */
  --font-family: "Red Hat Display", sans-serif;
}

html {
  font-size: 14px;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  background-color: var(--pale-blue);
  background-image: var(--pattern-background-mobile);
  background-repeat: no-repeat;
  background-size: 100vw;
  font-family: var(--font-family);
}
main {
  max-width: 80ch;
}
button:hover {
  text-decoration: none;
  opacity: 0.7;
}
.card {
  width: 90vw;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: var(--border-radius-large);
}
.card-header-image {
  width: 100%;
  border-top-left-radius: var(--border-radius-large);
  border-top-right-radius: var(--border-radius-large);
}
.card-header-text {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--dark-blue);
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.card-description {
  font-weight: 500;
  color: var(--gray);
  text-align: center;
  max-width: 25ch;
  margin-bottom: 1rem;
}
.selected-plan-container {
  width: 85%;
  padding: 1.5rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-small);
  background-color: var(--very-pale-blue);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.selected-plan-left-container {
  display: flex;
  flex-direction: row;
}
.selected-plan-text-container {
  margin-left: 1rem;
}
.selected-plan-text {
  font-weight: 900;
  color: var(--dark-blue);
}
.selected-plan-price {
  font-weight: 500;
  color: var(--gray);
}
.change-plan-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
  color: var(--bright-blue);
}
.proceed-payment-button {
  width: 85%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  background: none;
  border-radius: var(--border-radius-small);
  background-color: var(--bright-blue);
  cursor: pointer;
  font-weight: 700;
  color: var(--white);
  -webkit-box-shadow: 0px 10px 20px 10px var(--desaturated-blue-opacity);
  box-shadow: 0px 10px 20px 10px var(--desaturated-blue-opacity);
}
.cancel-order-button {
  width: 85%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 700;
  color: var(--gray);
}
.cancel-order-button:hover {
  opacity: 1;
  color: var(--dark-blue);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--light-blue);
}

/* Tablet layout */
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  body {
  background-image: var(--pattern-background-mobile);
  }
  .card {
    width: calc(100vw / 1.7);
  }
  .card-description {
    max-width: 30ch;
  }
  .selected-plan-container {
    width: 75%;
  }
  .proceed-payment-button {
    width: 75%;
  }
  .cancel-order-button {
    width: 75%;
  }
}

/* Desktop layout */
@media screen and (min-width: 1200px) {
  body {
  background-image: var(--pattern-background-desktop);
  }
  .card {
    width: calc(100vw / 3.5);
  }
}
